# ----Importando o DataFrame---

In [1]:
import pandas as pd

In [2]:
base = pd.read_csv('/Users/eraldomaia/Desktop/AnaliseDeRiscoDeCredito/BASE/risco_credito.csv')

In [3]:
pd.DataFrame(base)

        historia divida garantias     renda   c#risco
0           ruim   alta   nenhuma      0_15      alto
1   desconhecida   alta   nenhuma     15_35      alto
2   desconhecida  baixa   nenhuma     15_35  moderado
3   desconhecida  baixa   nenhuma  acima_35      alto
4   desconhecida  baixa   nenhuma  acima_35     baixo
5   desconhecida  baixa  adequada  acima_35     baixo
6           ruim  baixa   nenhuma      0_15      alto
7           ruim  baixa  adequada  acima_35  moderado
8            boa  baixa   nenhuma  acima_35     baixo
9            boa   alta  adequada  acima_35     baixo
10           boa   alta   nenhuma      0_15      alto
11           boa   alta   nenhuma     15_35  moderado
12           boa   alta   nenhuma  acima_35     baixo
13          ruim   alta   nenhuma     15_35      alto

# ----Separando atributos previsores e classificadores----

In [4]:
previsores = base.iloc[:,0:4].values
pd.DataFrame(previsores)

               0      1         2         3
0           ruim   alta   nenhuma      0_15
1   desconhecida   alta   nenhuma     15_35
2   desconhecida  baixa   nenhuma     15_35
3   desconhecida  baixa   nenhuma  acima_35
4   desconhecida  baixa   nenhuma  acima_35
5   desconhecida  baixa  adequada  acima_35
6           ruim  baixa   nenhuma      0_15
7           ruim  baixa  adequada  acima_35
8            boa  baixa   nenhuma  acima_35
9            boa   alta  adequada  acima_35
10           boa   alta   nenhuma      0_15
11           boa   alta   nenhuma     15_35
12           boa   alta   nenhuma  acima_35
13          ruim   alta   nenhuma     15_35

In [5]:
classe = base.iloc[:,4].values
pd.DataFrame(classe)

           0
0       alto
1       alto
2   moderado
3       alto
4      baixo
5      baixo
6       alto
7   moderado
8      baixo
9      baixo
10      alto
11  moderado
12     baixo
13      alto

# ----Transformação de variaveis catoricas em numericas----

In [6]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

In [7]:
previsores[:,0] = labelencoder.fit_transform(previsores[:,0])
previsores[:,1] = labelencoder.fit_transform(previsores[:,1])
previsores[:,2] = labelencoder.fit_transform(previsores[:,2])
previsores[:,3] = labelencoder.fit_transform(previsores[:,3])

In [8]:
pd.DataFrame(previsores)

    0  1  2  3
0   2  0  1  0
1   1  0  1  1
2   1  1  1  1
3   1  1  1  2
4   1  1  1  2
5   1  1  0  2
6   2  1  1  0
7   2  1  0  2
8   0  1  1  2
9   0  0  0  2
10  0  0  1  0
11  0  0  1  1
12  0  0  1  2
13  2  0  1  1

# ----Aprendizagem bayesiana----

In [9]:
from sklearn.naive_bayes import GaussianNB
classificador = GaussianNB()

In [10]:
classificador.fit(previsores,classe)

GaussianNB(priors=None, var_smoothing=1e-09)

### Verificando risco de crédito

In [15]:
# história boa, dívida alta, garantias nenhuma, renda > 35
resultado = classificador.predict([[0,0,1,2]])
resultado

array(['baixo'], dtype='<U8')

In [16]:
# história ruim, dívida alta, garantias adequada, renda < 15
resultado2 = classificador.predict([[3, 0, 0, 0]])
resultado2

array(['moderado'], dtype='<U8')